.Ruy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .Beeshops {
    width: 100%;
  }


  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .horse {
    padding: bottom;
  }
